---
# yaml-language-server: $schema=https://schemas.mortebrume.eu/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vmks
spec:
  chartRef:
    kind: OCIRepository
    name: victoria-metrics-k8s-stack
  dependsOn:
    - name: victoria-metrics-operator
  interval: 1h
  values:
    nameOverride: vmks

    victoria-metrics-operator:
      enabled: false

    grafana:
      enabled: false

    alertmanager:
      spec:
        externalUrl: https://alertmanager.mortebrume.eu
        storage:
          volumeClaimTemplate:
            spec:
              resources:
                requests:
                  storage: 1Gi

    vmalert:
      spec:
        extraArgs:
          enableTCP6: "true"

    vmagent:
      spec:
        extraArgs:
          enableTCP6: "true"
        externalLabels:
          cluster: homelab

    vmsingle:
      route:
        enabled: true
        hostnames:
          - "metrics.mortebrume.eu"
        parentRefs:
          - name: envoy-internal
            namespace: network
      spec:
        extraArgs:
          enableTCP6: "true"
        retentionPeriod: 1y
        storage:
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 30Gi
        resources:
          requests:
            cpu: 100m
          limits:
            memory: 2Gi

    prometheus-node-exporter:
      fullNameOverride: node-exporter
      vmScrape:
        spec:
          endpoints:
            - port: metrics
              metricRelabelConfigs:
                - action: drop
                  source_labels:
                    - mountpoint
                  regex: "/var/lib/kubelet/pods.+"
              relabelConfigs:
                - action: replace
                  regex: (.*)
                  replacement: $1
                  sourceLabels:
                    - "__meta_kubernetes_pod_node_name"
                  targetLabel: kubernetes_node

    kube-state-metrics:
      fullNameOverride: kube-state-metrics
      metricLabelsAllowList:
        - pods=[*]
        - deployments=[*]
        - persistentvolumeclaims=[*]
      vmScrape:
        spec:
          endpoints:
            - port: http
              honorLabels: true
              metricRelabelConfigs:
                - action: labeldrop
                  regex: (uid|container_id|image_id)
              relabelConfigs:
                - action: replace
                  regex: (.*)
                  replacement: $1
                  sourceLabels:
                    - "__meta_kubernetes_pod_node_name"
                  targetLabel: kubernetes_node

    defaultDashboards:
      enabled: true
      grafanaOperator:
        enabled: true
        spec:
          allowCrossNamespaceImport: true
          instanceSelector:
            matchLabels:
              dashboards: null
              grafana.internal/instance: grafana
      dashboards:
        node-exporter-full:
          enabled: false

    additionalVictoriaMetricsMap:
      dockerhub-rules:
        groups:
          - name: dockerhub
            rules:
              - alert: DockerhubRateLimitRisk
                annotations:
                  summary: Kubernetes cluster Dockerhub rate limit risk
                expr: count(time() - container_last_seen{image=~"(docker.io).*",container!=""} < 30) > 100
                labels:
                  severity: critical
      oom-rules:
        groups:
          - name: oom
            rules:
              - alert: OomKilled
                annotations:
                  summary: Container {{ $labels.container }} in pod {{ $labels.namespace }}/{{ $labels.pod }} has been OOMKilled {{ $value }} times in the last 10 minutes.
                expr: (kube_pod_container_status_restarts_total - kube_pod_container_status_restarts_total offset 10m >= 1) and ignoring (reason) min_over_time(kube_pod_container_status_last_terminated_reason{reason="OOMKilled"}[10m]) == 1
                labels:
                  severity: critical
      zfs-rules:
        groups:
          - name: zfs
            rules:
              - alert: ZfsUnexpectedPoolState
                annotations:
                  summary: ZFS pool {{$labels.zpool}} on {{$labels.instance}} is in a unexpected state {{$labels.state}}
                expr: node_zfs_zpool_state{state!="online"} > 0
                labels:
                  severity: critical

    kubelet:
      enabled: true

    kubeApiServer:
      enabled: true

    kubeControllerManager:
      enabled: true

    kubeEtcd:
      enabled: true

    kubeScheduler:
      enabled: true

    kubeProxy:
      enabled: false

    coreDns:
      enabled: true
