---
apiVersion: v1
kind: Secret
metadata:
  name: bitwarden-access-token
  namespace: external-secrets
stringData:
  token: {{ ENV['BITWARDEN_ES_TOKEN'] | indent(2) | safe }}
---
apiVersion: v1
kind: Secret
metadata:
  name: sops-age-secret
  namespace: flux-system
stringData:
  age.agekey: {{ ENV['SOPS_PRIVATE_KEY'] | indent(2) | safe }}
