---
apiVersion: v1
kind: Secret
metadata:
  name: onepassword-creds
  namespace: security
  labels:
    reconcile.external-secrets.io/managed: 'true'
stringData:
  1password-credentials.json: op://homelab/1password/OP_CREDENTIALS_JSON
  token: op://homelab/1password/OP_CONNECT_TOKEN
---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-issuer
  namespace: security
  labels:
    reconcile.external-secrets.io/managed: 'true'
stringData:
  token: op://homelab/cloudflare/CLOUDFLARE_DNS_TOKEN
---
apiVersion: v1
kind: Secret
metadata:
  name: barman-r2
  namespace: database
  labels:
    reconcile.external-secrets.io/managed: 'true'
stringData:
  S3_ENDPOINT: op://homelab/barman/S3_ENDPOINT
