---
apiVersion: v1
kind: Secret
metadata:
  name: onepassword
  namespace: security
  labels:
    reconcile.external-secrets.io/managed: 'true'
stringData:
  1password-credentials.json: op://homelab/1password/OP_CREDENTIALS_JSON
  token: op://homelab/1password/OP_CONNECT_TOKEN
---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-issuer
  namespace: security
  labels:
    reconcile.external-secrets.io/managed: 'true'
stringData:
  token: op://homelab/cloudflare/CLOUDFLARE_DNS_TOKEN
