---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: qui
spec:
  components:
    - ../../../../components/volsync
  dependsOn:
    - name: openebs
      namespace: openebs-system
    - name: media-storage
      namespace: media
  interval: 1h
  path: ./kubernetes/apps/media/qui/app
  postBuild:
    substitute:
      APP: qui
      VOLSYNC_CAPACITY: 2Gi
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: media
  wait: false
