---
apiVersion: kaniop.rs/v1beta1
kind: KanidmOAuth2Client
metadata:
  name: "${APP}"
  namespace: "${NAMESPACE}"
spec:
  kanidmRef:
    name: kanidm
    namespace: kanidm
  displayname: "${DISPLAY_NAME}"
  origin: "https://${SUBDOMAIN}.${HOST}${ORIGIN}"
  redirectUrl:
    - "https://${SUBDOMAIN}.${HOST}${CALLBACK}"
  # public: ${PUBLIC}
  scopeMap:
    - group: ${GROUP}
      scopes: ${SCOPES}
  supScopeMap: ${SUP_SCOPE_MAPS:=${emptyArray}}
  claimMap: ${CLAIM_MAPS:=${emptyArray}}
  strictRedirectUrl: ${REDIRECT_URL}
  preferShortUsername: ${SHORT_USERNAME}
  # allowLocalhostRedirect: ${LOCALHOST}
  allowInsecureClientDisablePkce: ${DISABLE_PKCE}
  jwtLegacyCryptoEnable: ${LEGACY_CRYPTO}
