---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: authentik
spec:
  chartRef:
    kind: OCIRepository
    name: authentik
  interval: 1h
  values:
    controllers:
      server:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image: &img
              repository: ghcr.io/goauthentik/server
              tag: 2025.12.4@sha256:33a92b246b798f23931ce62027e045ecf302c3bc198b6389225973db6448a886
            args:
              - server
            env: &env
              TZ: Europe/Paris
              AUTHENTIK_POSTGRESQL__HOST: pooler-rw.database.svc
              AUTHENTIK_POSTGRESQL__NAME: authentik
              AUTHENTIK_POSTGRESQL__USER: authentik
              AUTHENTIK_POSTGRESQL__SSLMODE: verify-full
              AUTHENTIK_POSTGRESQL__SSLROOTCERT: /var/run/secrets/root-ca/ca.crt
              AUTHENTIK_POSTGRESQL__SSLCERT: /var/run/secrets/postgresql/tls.crt
              AUTHENTIK_POSTGRESQL__SSLKEY: /var/run/secrets/postgresql/tls.key
              AUTHENTIK_POSTGRESQL__CONN_MAX_AGE: "0"
              AUTHENTIK_POSTGRESQL__CONN_HEALTH_CHECKS: "true"
              AUTHENTIK_POSTGRESQL__DISABLE_SERVER_SIDE_CURSORS: "true"
              AUTHENTIK_STORAGE__MEDIA__BACKEND: s3
              AUTHENTIK_STORAGE__MEDIA__S3__USE_SSL: "true"
              AUTHENTIK_STORAGE__MEDIA__S3__SECURE_URLS: "true"
              AUTHENTIK_STORAGE__MEDIA__S3__ADDRESSING_STYLE: path
              AUTHENTIK_STORAGE__MEDIA__S3__BUCKET_NAME: authentik
              AUTHENTIK_OUTPOSTS__DISCOVER: "false"
              AUTHENTIK_LISTEN__TRUSTED_PROXY_CIDRS: 10.20.0.0/16,fd00::/48
              AUTHENTIK_ERROR_REPORTING__ENABLED: "false"
              AUTHENTIK_ERROR_REPORTING__SEND_PII: "false"
              AUTHENTIK_DISABLE_UPDATE_CHECK: "true"
            envFrom: &envFrom
              - secretRef:
                  name: authentik
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /-/health/live/
                    port: &http 9000
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThresold: 3
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /-/health/ready/
                    port: *http
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 5
                  failureThreshold: 3
              startup:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /-/health/live/
                    port: *http
                  initialDelaySeconds: 15
                  periodSeconds: 1
                  failureThreshold: 300
            securityContext: &sc
              readOnlyRootFilesystem: true
              allowPrivilegeEscalation: false
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 30m
                memory: 512Mi
              limits:
                memory: 1Gi
      worker:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image: *img
            args:
              - worker
            env:
              <<: *env
              AUTHENTIK_WORKER__PROCESSES: "1"
              AUTHENTIK_WORKER__THREADS:
                resourceFieldRef:
                  resource: limits.cpu
            envFrom: *envFrom
            probes:
              readiness: &worker-probes
                enabled: true
                custom: true
                spec: &wps
                  timeoutSeconds: 5
                  exec:
                    command:
                      - ak
                      - healthcheck
              liveness:
                <<: *worker-probes
                spec:
                  <<: *wps
                  failureThresold: 15
              startup:
                <<: *worker-probes
                spec:
                  <<: *wps
                  initialDelaySeconds: 15
                  periodSeconds: 1
                  failureThreshold: 300
            securityContext: *sc
            resources:
              requests:
                cpu: 20m
                memory: 750Mi
              limits:
                cpu: "1"
                memory: 1Gi
      ldap:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/goauthentik/ldap
              tag: 2025.12.4@sha256:1215d9168512e4c3aa2caf9431fa5064e5e2617ead2804dc8fc516754fc204b9
            env:
              AUTHENTIK_HOST: "https://auth.mortebrume.eu"
              AUTHENTIK_TOKEN:
                valueFrom:
                  secretKeyRef:
                    name: authentik
                    key: AUTHENTIK_TOKEN_LDAP
            probes:
              liveness: &ldap-probes
                enabled: true
                custom: true
                spec: &lps
                  exec:
                    command:
                      - "/ldap"
                      - "healthcheck"
              readiness:
                <<: *ldap-probes
                spec:
                  <<: *lps
              startup:
                <<: *ldap-probes
                spec:
                  <<: *lps
                  initialDelaySeconds: 15
                  periodSeconds: 1
                  failureThresold: 300
            securityContext: *sc
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 50Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: server
        forceRename: authentik
        ports:
          http:
            port: *http
            protocol: HTTP
            appProtocol: http
          https:
            port: &https 9443
            protocol: HTTPS
            appProtocol: https
          metrics:
            port: 9300
            protocol: HTTP
            appProtocol: http
      ldap:
        primary: false
        controller: ldap
        ports:
          ldap-tcp: &ldap
            port: 389
            targetPort: 3389
            protocol: TCP
            appProtocol: ldap
          ldap-udp:
            <<: *ldap
            protocol: UDP
          ldaps-tcp: &ldaps
            port: 636
            targetPort: 6636
            protocol: TCP
            appProtocol: ldaps
          ldaps-udp:
            <<: *ldaps
            protocol: UDP
    route:
      app:
        hostnames:
          - "auth.mortebrume.eu"
        parentRefs:
          - name: envoy-internal
            namespace: network
          - name: envoy-external
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *https
      harden:
        hostnames:
          - "auth.mortebrume.eu"
        parentRefs:
          - name: envoy-external
            namespace: network
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: /if/admin
              - path:
                  type: PathPrefix
                  value: /api/v3/policies/expression
              - path:
                  type: PathPrefix
                  value: /api/v3/propertymappings
              - path:
                  type: PathPrefix
                  value: /api/v3/managed/blueprints
            filters:
              - type: RequestRedirect
                requestRedirect:
                  statusCode: 301
                  hostname: www.google.com
                  port: 443
                  path:
                    type: ReplaceFullPath
                    replaceFullPath: "/"
    persistence:
      tmpfs:
        type: emptyDir
        medium: Memory
        globalMounts:
          - path: /media/public
            subPath: media
      tls:
        type: secret
        name: authentik-tls
        defaultMode: 0400
        globalMounts:
          - path: "/certs/tls"
    serviceMonitor:
      authentik:
        service:
          identifier: app
        endpoints:
          - port: metrics
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 30s
