---
apiVersion: volsync.backube/v1alpha1
kind: ReplicationSource
metadata:
  name: "${APP}"
spec:
  sourcePVC: "${APP}"
  trigger:
    schedule: "30 5 * * *"
  kopia:
    accessModes:
      - "${VOLSYNC_SNAP_ACCESSMODES:=ReadWriteOnce}"
    cacheAccessModes:
      - "${VOLSYNC_CACHE_ACCESSMODES:=ReadWriteOnce}"
    cacheCapacity: "${VOLSYNC_CAPACITY:=5Gi}"
    cacheStorageClassName: "${VOLSYNC_CACHE_SNAPSHOTCLASS:=zfs-pv}"
    compression: zstd-best-compression
    copyMethod: Snapshot
    moverSecurityContext:
      runAsUser: ${VOLSYNC_PUID:=1000}
      runAsGroup: ${VOLSYNC_PGID:=1000}
      fsGroup: ${VOLSYNC_PGID:=1000}
      fsGroupChangePolicy: OnRootMismatch
    parallelism: 2
    repository: "${APP}-volsync"
    retain:
      daily: 7
    storageClassName: "${VOLSYNC_STORAGECLASS:=zfs-pv}"
    volumeSnapshotClassName: "${VOLSYNC_SNAPSHOTCLASS:=zfs-snap}"
