---
# yaml-language-server: $schema=https://schemas.mortebrume.eu/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cilium
spec:
  chartRef:
    kind: OCIRepository
    name: cilium
  interval: 1h
  values:
    autoDirectNodeRoutes: true
    bandwidthManager:
      enabled: true
      bbr: true
    bpf:
      datapathMode: netkit
      masquerade: true
      preallocateMaps: true
    bpfClockProbe: true
    cgroup:
      automount:
        enabled: false
      hostRoot: /sys/fs/cgroup
    dashboards:
      enabled: true
    enableIPv4BIGTCP: true
    enableIPv6BIGTCP: true
    endpointRoutes:
      enabled: true
    envoy:
      enabled: false
    hubble:
      enabled: false
    ipam:
      mode: kubernetes
      operator:
        clusterPoolIPv4PodCIDRList:
          - 10.20.0.0/16
        clusterPoolIPv6PodCIDRList:
          - fd00::/108
    ipv4NativeRoutingCIDR: 10.20.0.0/16
    ipv6:
      enabled: true
    ipv6NativeRoutingCIDR: fd00::/108
    l2announcements:
      enabled: false
    k8sServiceHost: localhost
    k8sServicePort: 6443
    kubeProxyReplacement: true
    kubeProxyReplacementHealthzBindAddr: 0.0.0.0:10256
    loadBalancer:
      algorithm: maglev
      mode: dsr
    localRedirectPolicies:
      enabled: true
    MTU: 1340
    operator:
      dashboards:
        enabled: true
      prometheus:
        enabled: true
        serviceMonitor:
          enabled: true
      replicas: 1
      rollOutPods: true
    pmtuDiscovery:
      enabled: false
    prometheus:
      enabled: true
      serviceMonitor:
        enabled: true
        trustCRDsExist: true
    rollOutCiliumPods: true
    routingMode: native
    socketLB:
      enabled: true
