---
# yaml-language-server: $schema=https://schemas.tholinka.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: ferretdb-pg
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    template:
      data:
        username: "{{ .FERRETDB_PG_USER }}"
        password: "{{ .FERRETDB_PG_PASS }}"
  dataFrom:
    - extract:
        key: ferretdb
