---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: webhook
spec:
  chartRef:
    kind: OCIRepository
    name: webhook
  interval: 1h
  values:
    controllers:
      webhook:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/webhook
              tag: 2.8.3@sha256:86ca6159752b741589012dd766f20d46a72cf052186f8f59d10cfc5252d8ac5c
            env:
              WEBHOOK__PORT: &port 8080
            envFrom:
              - secretRef:
                  name: webhook
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 512Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    persistence:
      config:
        type: configMap
        name: webhook-configmap
        defaultMode: 0755
        globalMounts:
          - readOnly: true
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - webhook.mortebrume.eu
        parentRefs:
          - name: envoy-external
            namespace: network
