---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: yspotify
spec:
  chartRef:
    kind: OCIRepository
    name: yspotify
  interval: 1h
  values:
    controllers:
      server:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: docker.io/yooooomi/your_spotify_server
              tag: 1.17.0@sha256:6367c4a118ce966d2f37b626a0c3450daf10659b3dfb24620c6368c2ee3
            env:
              API_ENDPOINT: &apiEndpoint https://ys.mortebrume.eu/api
              CLIENT_ENDPOINT: https://ys.mortebrume.eu
              PORT: &serverPort 8080
              MONGO_NO_ADMIN_RIGHTS: "true"
            envFrom:
              - secretRef:
                  name: yspotify
              - secretRef:
                  name: yspotify-db
            probes: &probes
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
            securityContext: &securityContext
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 500Mi
      web:
        containers:
          app:
            image:
              repository: docker.io/yooooomi/your_spotify_client
              tag: 1.17.0@sha256:efe20e90bbfdad1b45bc62ef19cf73c63f1c8ddec52d838efe61a81b99daf1d1
            env:
              API_ENDPOINT: *apiEndpoint
            probes: *probes
            securityContext: *securityContext
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 100Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      server:
        controller: server
        ports:
          http:
            port: *serverPort
      web:
        controller: web
        ports:
          http:
            port: &webPort 3000
    route:
      app:
        hostnames:
          - ys.mortebrume.eu
        parentRefs:
          - name: envoy-external
            namespace: network
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: /api
            filters:
              - type: URLRewrite
                urlRewrite:
                  path:
                    type: ReplacePrefixMatch
                    replacePrefixMatch: /
            backendRefs:
              - identifier: server
                port: *serverPort
          - matches:
              - path:
                  type: PathPrefix
                  value: /
            backendRefs:
              - identifier: web
                port: *webPort
