---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: foundry
spec:
  chartRef:
    kind: OCIRepository
    name: foundry
  interval: 1h
  values:
    controllers:
      foundry:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            env:
              CONTAINER_PRESERVE_CONFIG: "true"
              FOUNDRY_HOSTNAME: &hostname vtt.mortebrume.eu
              FOUNDRY_PROXY_SSL: "true"
              TZ: Europe/Paris
            envFrom:
              - secretRef:
                  name: foundry
            image:
              repository: ghcr.io/felddy/foundryvtt
              tag: 13.351.0@sha256:41d518782f2fabbec887413c56da8ef8175c22fb5a75fde45382661443a8ae6b
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              requests:
                cpu: 100m
                memory: 1Gi
              limits:
                memory: 5Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: &port 30000
    route:
      app:
        hostnames:
          - *hostname
        parentRefs:
          - name: envoy-external
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      data:
        existingClaim: foundry
