---
# yaml-language-server: $schema=https://schemas.mortebrume.eu/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: radarr
spec:
  components:
    - ../../../../components/oidc/envoy
    - ../../../../components/postgres/cert
    - ../../../../components/volsync
  dependsOn:
    - name: openebs
      namespace: openebs-system
  interval: 1h
  path: ./kubernetes/apps/media/radarr/app
  postBuild:
    substitute:
      APP: radarr
      NAMESPACE: media
      OIDC_DISPLAY_NAME: Radarr
      OIDC_SCOPES: '["openid", "profile"]'
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: media
  wait: false
