---
# yaml-language-server: $schema=https://schemas.mortebrume.eu/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: headlamp
spec:
  chartRef:
    kind: OCIRepository
    name: headlamp
  interval: 30m
  values:
    fullnameOverride: headlamp
    config:
      oidc:
        secret:
          create: false
        externalSecret:
          enabled: true
          name: headlamp
    clusterRoleBinding:
      create: false
    podAnnotations:
      reloader.stakater.com/auto: "true"
    service:
      port: 4466
    httpRoute:
      enabled: true
      hostnames:
        - headlamp.mortebrume.eu
      parentRefs:
        - name: envoy-internal
          namespace: network
