---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: selfhosted

components:
  - ../../components/alerts

resources:
  - ./namespace.yaml
  - ./karakeep/ks.yaml
  - ./foundry/ks.yaml
  - ./miniflux/ks.yaml
  - ./paperless/ks.yaml
  - ./publish-k8s-schemas/ks.yaml
  - ./webhook/ks.yaml
