---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: observability

components:
  - ../../components/alerts

resources:
  - ./namespace.yaml
  - ./fluent-bit/ks.yaml
  - ./grafana/ks.yaml
  - ./headlamp/ks.yaml
  - ./victoria/ks.yaml
