---
# yaml-language-server: $schema=https://k8s-schemas.m00nlit.dev/postgresql.cnpg.io/cluster_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres
  annotations:
    cnpg.io/skipEmptyWalArchiveCheck: enabled
spec:
  instances: 1

  imageName: ghcr.io/cloudnative-pg/postgresql:18.1-standard-trixie@sha256:4dce4eeb92bd3d16d0c1131838ce3586a16fdc4763d30423a00253968bfd3f9d

  certificates:
    serverTLSSecret: postgres-serving-cert
    serverCASecret: postgres-serving-cert
    clientCASecret: postgres-client-ca
    replicationTLSSecret: postgres-replication-cert

  storage:
    size: 8Gi

  monitoring:
    enablePodMonitor: true

  postgresql:
    pg_hba:
      - hostnossl all all 10.42.0.0/16      scram-sha-256
      - hostnossl all all 2001:cafe:42::/56 scram-sha-256
      - hostssl   all all all               cert clientcert=verify-full
    shared_preload_libraries:
      - "vchord"
      - "timescaledb"
    parameters:
      timescaledb.telemetry_level: "off"
      max_locks_per_transaction: "128"

    extensions:
      - name: postgis
        ld_library_path:
          - system
        image:
          reference: ghcr.io/cloudnative-pg/postgis-extension-testing:3.6.0-18-trixie@sha256:ec21540f5799561a9b05ca188fd28ce32852a826f48d80329260940855f5f558
      - name: vchord
        image:
          reference: ghcr.io/tensorchord/vchord-scratch:pg18-v0.5.3@sha256:c310ede47f7f82bd257c3e53806d60680d5899c318ca946fb313efad9a90a78e
        dynamic_library_path:
          - /usr/lib/postgresql/18/lib/
        extension_control_path:
          - /usr/share/postgresql/18/
      - name: timescaledb
        image:
          reference: ghcr.io/shusaan/timescaledb-testing:2.23.1-18-trixie@sha256:4709935bed4cce5977bc4b1858a94e2e80f22f0303217163a9e97b8898e33ee2
