---
# yaml-language-server: $schema=https://schemas.mortebrume.eu/postgresql.cnpg.io/cluster_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres
  annotations:
    cnpg.io/skipEmptyWalArchiveCheck: enabled
spec:
  instances: 1

  imageName: ghcr.io/cloudnative-pg/postgresql:18.1-standard-trixie@sha256:ec0c0d60f9462b49f4c6f2403fd680ac43a063fc793f5d570a21a3cea8e627b5

  certificates:
    serverTLSSecret: postgres-server-cert
    serverCASecret: postgres-server-cert
    clientCASecret: postgres-client-ca
    replicationTLSSecret: postgres-replication-cert

  storage:
    size: 8Gi
    storageClass: zfs-pv-db

  bootstrap:
    recovery:
      source: &src source

  plugins:
    - name: &plugin barman-cloud.cloudnative-pg.io
      isWALArchiver: true
      parameters:
        barmanObjectName: &store r2-store

  externalClusters:
    - name: *src
      plugin:
        name: *plugin
        parameters:
          barmanObjectName: *store
          serverName: postgres

  monitoring:
    enablePodMonitor: true

  postgresql:
    pg_hba:
      - hostssl all all all cert clientcert=verify-full map=pooler-map
    pg_ident:
      - pooler-map pooler-rw all
    shared_preload_libraries:
      - "vchord"
      - "timescaledb"
    parameters:
      timescaledb.telemetry_level: "off"
      max_locks_per_transaction: "128"

    extensions:
      - name: postgis
        ld_library_path:
          - system
        image:
          reference: ghcr.io/cloudnative-pg/postgis-extension-testing:3.6.0-18-trixie@sha256:ec21540f5799561a9b05ca188fd28ce32852a826f48d80329260940855f5f558
      - name: vchord
        image:
          reference: ghcr.io/tensorchord/vchord-scratch:pg18-v0.5.3@sha256:c310ede47f7f82bd257c3e53806d60680d5899c318ca946fb313efad9a90a78e
        dynamic_library_path:
          - /usr/lib/postgresql/18/lib/
        extension_control_path:
          - /usr/share/postgresql/18/
      - name: timescaledb
        image:
          reference: ghcr.io/shusaan/timescaledb-testing:2.23.1-18-trixie@sha256:4709935bed4cce5977bc4b1858a94e2e80f22f0303217163a9e97b8898e33ee2

  managed:
    roles:
      - name: authentik
        ensure: present
        login: true
        superuser: false
        disablePassword: true

      - name: autobrr
        ensure: present
        login: true
        superuser: false
        disablePassword: true

      - name: miniflux
        ensure: present
        login: true
        superuser: false
        disablePassword: true

      - name: paperless
        ensure: present
        login: true
        superuser: false
        disablePassword: true

      - name: pooler-rw
        ensure: present
        login: true
        superuser: false
        disablePassword: true

      - name: prowlarr
        ensure: present
        login: true
        superuser: false
        disablePassword: true

      - name: radarr
        ensure: present
        login: true
        superuser: false
        disablePassword: true

      - name: sonarr
        ensure: present
        login: true
        superuser: false
        disablePassword: true
