---
# yaml-language-server: $schema=https://schemas.mortebrume.eu/postgresql.cnpg.io/pooler_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Pooler
metadata:
  name: pooler-rw
spec:
  cluster:
    name: postgres

  instances: 1
  type: rw
  pgbouncer:
    poolMode: transaction

    authQuery: "SELECT $1, NULL"
    serverCASecret:
      name: pooler-server-cert
    serverTLSSecret:
      name: pooler-client-cert
    clientCASecret:
      name: pooler-client-cert
    clientTLSSecret:
      name: pooler-server-cert

    parameters:
      # server_tls_protocols: tlsv1.3
      auth_type: cert
      server_tls_sslmode: verify-full
      client_tls_sslmode: verify-full
      max_client_conn: "1000"
      default_pool_size: "60"
      ignore_startup_parameters: search_path,options # needed for authentik outpost
---
# yaml-language-server: $schema=https://schemas.mortebrume.eu/monitoring.coreos.com/podmonitor_v1.json
apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  name: &name pooler-rw
spec:
  selector:
    matchLabels:
      cnpg.io/poolerName: *name
  podMetricsEndpoints:
    - port: metrics
