---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: matrix

components:
  - ../../components/alerts

resources:
  - ./namespace.yaml
  - ./continuwuity/ks.yaml
  - ./heisenbridge/ks.yaml
