---
# yaml-language-server: $schema=https://schemas.tholinka.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: ferretdb-app
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    template:
      data:
        FERRETDB_POSTGRESQL_URL: |-
          postgresql://{{ .FERRETDB_PG_USER }}:{{ .FERRETDB_PG_PASS }}@ferretdb-rw.database.svc.cluster.local/ferretDB
  dataFrom:
    - extract:
        key: ferretdb
