---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cnpg
spec:
  chartRef:
    kind: OCIRepository
    name: cnpg
  interval: 1h
  values:
    monitoring:
      podMonitorEnabled: true
      grafanaDashboard:
        create: true
