---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: paperless
spec:
  chartRef:
    kind: OCIRepository
    name: paperless
  interval: 1h
  values:
    controllers:
      paperless:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            env:
              PAPERLESS_URL: https://docs.mortebrume.eu
              PAPERLESS_PORT: "8000"
              PAPERLESS_TIME_ZONE: Europe/Paris
              PAPERLESS_OCR_LANGUAGE: fra+eng
              PAPERLESS_DATA_DIR: /storage/data
              PAPERLESS_MEDIA_ROOT: /storage/media
              PAPERLESS_REDIS: redis://dragonfly.database.svc:6379/1
              PAPERLESS_DBHOST: pooler-rw.database.svc
              PGSSLROOTCERT: /var/run/secrets/root-ca/ca.crt
              PGSSLCERT: /var/run/secrets/postgresql/tls.crt
              PGSSLKEY: /var/run/secrets/postgresql/tls.key
              PGSSLMODE: verify-full
              PAPERLESS_ENABLE_HTTP_REMOTE_USER: "true"
              PAPERLESS_TIKA_ENABLED: "true"
              PAPERLESS_TIKA_ENDPOINT: http://tika.selfhosted.svc.cluster.local:9998
              PAPERLESS_TIKA_GOTENBERG_ENDPOINT: http://gotenberg.selfhosted.svc.cluster.local:3000
              PAPERLESS_APPS: allauth.socialaccount.providers.openid_connect
              PAPERLESS_ACCOUNT_ALLOW_SIGNUPS: "false"
              PAPERLESS_SOCIALACCOUNT_ALLOW_SIGNUPS: "true"
              PAPERLESS_DISABLE_REGULAR_LOGIN: "true"
              USERMAP_GID: "1000"
              USERMAP_UID: "1000"
            envFrom:
              - secretRef:
                  name: paperless
            image:
              repository: ghcr.io/paperless-ngx/paperless-ngx
              tag: 2.20.8@sha256:e231ec11a1907bfdf172b4f120b4ef1994feb71e6cc624e8b88c53e2da3dfb62
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              requests:
                cpu: 40m
                memory: 1Gi
              limits:
                memory: 1Gi
      tika:
        containers:
          app:
            image:
              repository: docker.io/apache/tika
              tag: 3.2.3.0@sha256:c0154cb95587cde64be74f35ada1a2bd7892219f3f0ac3c9dc6cab34046b3573
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 10m
                memory: 256Mi
              limits:
                memory: 512Mi
      gotenberg:
        containers:
          app:
            image:
              repository: docker.io/gotenberg/gotenberg
              tag: 8.27.0@sha256:d71ab8c13b6bd47c7bc81195082005dfb17eaa75e8b1fadd347a64ee66ed98d5
            command:
              - gotenberg
              - --chromium-disable-javascript=true
              - --chromium-allow-list=file:///tmp/.*
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            resources:
              requests:
                cpu: 10m
                memory: 256Mi
              limits:
                memory: 512Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: paperless
        ports:
          http:
            port: &port 8000
      tika:
        controller: tika
        ports:
          http:
            port: 9998
      gotenberg:
        controller: gotenberg
        ports:
          http:
            port: 3000
    route:
      app:
        hostnames:
          - "docs.mortebrume.eu"
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      data:
        existingClaim: paperless
        globalMounts:
          - path: /storage
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
            subPath: tmp
        advancedMounts:
          paperless:
            app:
              - path: /run
                subPath: run
              - path: /var/lib/apt
                subPath: apt
