---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: paperless
spec:
  chartRef:
    kind: OCIRepository
    name: paperless
  interval: 1h
  values:
    controllers:
      paperless:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            env:
              PAPERLESS_SECRET_KEY:
                valueFrom:
                  secretKeyRef:
                    name: paperless
                    key: PAPERLESS_SECRET_KEY
              PAPERLESS_URL: https://docs.mortebrume.eu
              PAPERLESS_PORT: "8000"
              PAPERLESS_TIME_ZONE: Europe/Paris
              PAPERLESS_OCR_LANGUAGE: fra+eng
              PAPERLESS_DATA_DIR: /storage/data
              PAPERLESS_MEDIA_ROOT: /storage/media
              PAPERLESS_REDIS: redis://dragonfly.database.svc:6379/1
              PAPERLESS_DBHOST: postgres-rw.database.svc
              PAPERLESS_DBSSLMODE: verify-full
              PAPERLESS_DBSSLROOTCERT: /var/run/secrets/root-ca/ca.crt
              PAPERLESS_DBSSLCERT: /var/run/secrets/postgresql/tls.crt
              PAPERLESS_DBSSLKEY: /var/run/secrets/postgresql/tls.key
              PAPERLESS_ENABLE_HTTP_REMOTE_USER: "true"
              USERMAP_GID: "1000"
              USERMAP_UID: "1000"
            image:
              repository: ghcr.io/paperless-ngx/paperless-ngx
              tag: 2.20.4@sha256:06ca6a6c2a21cfebcc7c5f2e0d38f892dba4bcb090b8781a55d003c63cce386a
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            resources:
              requests:
                cpu: 40m
                memory: 1Gi
              limits:
                memory: 1Gi
    defaultPodOptions:
      securityContext:
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: &port 8000
    route:
      app:
        hostnames:
          - "docs.mortebrume.eu"
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port
    persistence:
      data:
        existingClaim: paperless
        globalMounts:
          - path: /storage
