---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: continuwuity
spec:
  chartRef:
    kind: OCIRepository
    name: continuwuity
  interval: 1h
  values:
    controllers:
      continuwuity:
        type: statefulset # RockDB
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: forgejo.ellis.link/continuwuation/continuwuity
              tag: v0.5.4-maxperf@sha256:71874923ccfd0095fb007c9d915d500453cfa4096cf8c75efb7f95c9939b2655
            env:
              CONDUWUIT_CONFIG: "/config/continuwuity.toml"
              CONDUWUIT_PORT: &port 8008
              TZ: Europe/Paris
            envFrom:
              - secretRef:
                  name: continuwuity
            probes:
              liveness: &probe
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /_matrix/client/versions
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probe
            securityContext:
              readOnlyRootFilesystem: true
              allowPrivilegeEscalation: false
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 300m
                memory: 1Gi
              limits:
                memory: 2Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: 80
            targetPort: *port
    route:
      app:
        hostnames:
          - "matrix.mortebrume.eu"
        parentRefs:
          - name: envoy-internal
            namespace: network
          - name: envoy-external
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: 80
      well-known:
        hostnames:
          - "mortebrume.eu"
        parentRefs:
          - name: envoy-internal
            namespace: network
          - name: envoy-external
            namespace: network
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: /.well-known/matrix/
            backendRefs:
              - identifier: app
                port: 80
    persistence:
      data:
        existingClaim: continuwuity
      media:
        existingClaim: matrix-media
        globalMounts:
          - path: /data/media
            subPath: media
      backups:
        size: 5Gi
        accessMode: ReadWriteOnce
        suffix: "backups"
        globalMounts:
          - path: /backups
      config:
        type: configMap
        name: continuwuity-configmap
        globalMounts:
          - path: /config/continuwuity.toml
            subPath: continuwuity.toml
      secrets:
        type: secret
        name: continuwuity
        defaultMode: 0400
        advancedMounts:
          continuwuity:
            app:
              - path: /secrets/ldap-bind-password
                subPath: CONDUWUIT_LDAP__BIND_PASSWORD
                readOnly: true
