---
# yaml-language-server: $schema=https://schemas.mortebrume.eu/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: volsync
spec:
  dependsOn:
    - name: openebs
      namespace: openebs-system
    - name: snapshot-controller
      namespace: kube-system
  interval: 1h
  path: ./kubernetes/apps/volsynkopia/volsync/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: volsynkopia
  wait: true
---
# yaml-language-server: $schema=https://schemas.mortebrume.eu/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: volsync-maintenance
spec:
  dependsOn:
    - name: volsync
      namespace: volsynkopia
  interval: 1h
  path: ./kubernetes/apps/volsynkopia/volsync/maintenance
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: volsynkopia
  wait: false
