---
apiVersion: gateway.networking.k8s.io/v1
kind: BackendTLSPolicy
metadata:
  name: kanidm-upstream
spec:
  targetRefs:
    - kind: Service
      name: kanidm
      sectionName: "8443"
  validation:
    caCertificateRefs:
      - kind: Secret
        name: "root-ca"
    hostname: kanidm.kanidm.svc.cluster.local
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: kanidm
spec:
  hostnames:
    - idm.mortebrume.eu
  parentRefs:
    - name: envoy-external
      namespace: network
  rules:
    - backendRefs:
        - name: kanidm
          namespace: kanidm
          port: 8443
