---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: openebs-zfspv
  annotations:
    storageclass.kubernetes.io/is-default-class: "true"
allowVolumeExpansion: true
parameters:
  dedup: "off"
  fstype: "zfs"
  poolname: "zroot/kube"
provisioner: zfs.csi.openebs.io
